<mat-toolbar>
    <img src="../assets/img/logo_square.png" class="logo-square">
    <img src="../assets/img/logoText.png" class="logo-text">
</mat-toolbar>

<div class="container">
    <div class="content">
        <div class="centered">
            <p class="heading">Welcome to the online home of the Affable Bean Green Grocer.</p><br>
            <p class="subtitle">Our unique home delivery service brings you fresh organic produce, dairy, meats, breads and other delicious and healthy items direct to your doorstep.</p>
        </div>

        <app-category-overview></app-category-overview>
    </div>
</div>
