div.container {
    background: red;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

div.content {
    width: 80%;
    margin: 0 auto;
}

.centered {
    text-align: center;
}

p.heading {
    font-size: 1.5em;
}

p.subtitle {
    font-size: 1em;
}

