<form [formGroup]="loginForm">
<mat-form-field appearance="outline" class="full-width">
  <mat-label>Email</mat-label>
  <input matInput formControlName="email" id="email" name="email">
  <mat-icon matSuffix>person</mat-icon>
  <mat-hint *ngIf="loginForm.controls['email'].errors && !loginForm.controls['email'].pristine" [hidden]="!loginForm.controls['email'].errors.patternInvalid">Email
    is invalid.</mat-hint>
</mat-form-field>

<br>
<mat-form-field appearance="outline" class="full-width">
  <mat-label>Password</mat-label>
  <input matInput type="password" formControlName="password" id="password">
  <mat-icon matSuffix>lock</mat-icon>
</mat-form-field>
<br>
<button mat-raised-button color="primary" type="submit" class="full-width"  mat-close [disabled]="loginForm.invalid" (click)="handleSignin()">Sign
  in</button>
</form>
